.nav-bar{
    letter-spacing: 20px;
    height: 5rem;
}

.responses{
    border-bottom: solid lightgrey 2px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ingredient_list{
    list-style-type: none;
}

img{
    height: 15%;
    width: 15%;
}